#user-container {
  background-color: darkslategrey;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.logoutbtn {
  cursor: pointer;
  direction: rtl;
  margin-left: 55%;
  color: aliceblue;

}


#nav-container {
  top: 0;
  left: 0;
  background-color: #f8f2f2;
  transition: .5s ease;
  padding-top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-no-underline {
  text-decoration: none;
  color: black;
}


.usermainlable {
  direction: rtl;
  margin-left: 30px;
  color: aliceblue
}


.usertab {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: transform 0.3s ease-in-out;
  direction: rtl;
  margin-left: 80px;
  position: relative;
  color: aliceblue;
  }


.usertab:hover::after {
  content: '';
  position: absolute;   
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #fff;
}


.orderstab {
  cursor: pointer;
  direction: rtl;
  margin-left: 68px;
  color: aliceblue;
  position: relative;
}

.orderstab:hover::after {
  content: '';
  position: absolute;   
  width: 106%;
  height: 3px;
  left: 0;
  background-color: #fff;
}

.exceltab {
  cursor: pointer;
  direction: rtl;
  margin-left: 70px;
  color: aliceblue;
  position: relative;
}

.exceltab:hover::after {
  content: '';
  position: absolute;   
  width: 106%;
  height: 3px;
  left: 0;
  background-color: #fff;
}