.textbox {
  margin: 5%;
  padding: 20px;
  background-color: transparent;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.textbox {
  padding: 5%;
  background-color: lightgreen;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.btn {
  background-color: lightgreen;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}


.p-text-center {
  text-align: center !important;
}