
#excel {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  color: black;
  margin: 9%;
}

#excel td, #orders th {
  border: 1px solid #ddd;
  padding: 10px;
}

#excel tr:nth-child(odd){background-color: #f2f2f2;}

#excel tr:hover {background-color: #ddd;}

#excel th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: darkslategrey;
  color: white;
} 