
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Untitled.png');
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: contain;
    background-color: whitesmoke;
}

.form {
    margin-left: 20%;
    height: 47vh;
    width: 300px;
    padding: 100px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: blueviolet;
    outline: none;
}

.authbtn {
    width: 60%;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.authbtn:hover {
    background-color: #8a2be2;
}

.pwd{
    margin-top: 50px;
    
}
.labelpwd .showpwd{
    display: flex;
}